/* CSS file for Devine Inspired Care */

.gallery-item-container {
    border-width: 0 !important;    
    border-radius: 5px !important;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .1)) !important;
}

.c3VDPV .blog-post-post-list-description-color {
    background-color: #f5f4fe !important;
}

.blog-post-description-font.blog-text-color.blog-card-background-color div {
    
}

ul#comp-lyvyq703itemsContainer li {
    font-weight: 600;
}

ul#comp-lyvyq703itemsContainer {
    text-transform: uppercase;
}

div#comp-lyy4e3dt {
    border-bottom: 1px solid #eee;
}
