/* CSS file for Devine Inspired Care */

button.txtqbB {
    letter-spacing: 0.05em !important;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

button.mQxxMq.mq4ewo.Pg7AcP {
    color: #4ab0a6 !important;
}

span#cookies_policy_description, button.mQxxMq.mq4ewo.Pg7AcP, button.Wm1W5U.mq4ewo.Pg7AcP.Mm8Lm6 {
    font-family: montserrat, sans-serif !important;
}

.consent-banner-root.MNUFxS.undefined.jUcJ2u, button.Wm1W5U.mq4ewo.Pg7AcP.Mm8Lm6 {
    background: #4ab0a6 !important;
}

.gallery-item-container {
    border-width: 0 !important;    
    border-radius: 5px !important;
    box-shadow: var(--shd, 0 1px 4px rgba(0, 0, 0, .1)) !important;
}

.c3VDPV .blog-post-post-list-description-color {
    background-color: #f5f4fe !important;
}

div#pgi52e5b42e2ecb4b0cb66981f5f9268d11_1 {
    position: relative !important;
    /*top: 80px !important;*/
}

.blog-post-description-font.blog-text-color.blog-card-background-color div {
    
}

ul#comp-lyvyq703itemsContainer li {
    font-weight: 600;
}

ul#comp-lyvyq703itemsContainer {
    text-transform: uppercase;
}

div#comp-lyy4e3dt {
    border-bottom: 1px solid #eee;
}
