/* CSS for Write Heal Grow Glow 

CSS File at: https://arnoldgarryug.github.io/for-git/css/whgg.css

*/

#comp-mi50drky .style-mi85t2qy__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label
 {
    text-transform: uppercase !important;
    color: red !important;
    font-family: playfair-display-v2, serif !important;
 }
