/* CSS for Write Heal Grow Glow 

CSS File at: https://arnoldgarryug.github.io/for-git/css/whgg.css

*/

#comp-mi50drky .style-mi85t2qy__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label
 {
    text-transform: uppercase !important;
    color: #444 !important;
    font-family: playfair-display-v2, serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

#comp-mijdxlog .style-mijdz3qh__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label {
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: playfair-display-v2, serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

a.snize-sticky-searchbox.snize-custom-widget-opener.top-right {
    display: none;
}

._SIYmI .gallery-item-container {
   border-radius: 30px !important !important;
}

.txtqbB, .syX60BH.oKCHbsX---priority-7-primary {
    padding: 15px 20px !important;
    border-radius: 50px !important;
}

.hnxUtZ:hover {
    text-decoration: none !important;
    background-color: #8a191b !important;
    color: #fff !important;
}
