/* CSS for Write Heal Grow Glow 

CSS File at: https://arnoldgarryug.github.io/for-git/css/whgg.css

*/

.aAjhWb button:hover {
    background-color: #8a191b !important;
    color: #fff !important;
}

.aAjhWb button:hover span {
    text-decoration: none !important;
}

#comp-mijjkrnu {
    margin-bottom: 80px !important;
}

span.sDjEuC7.sVjaexv {
    text-transform: uppercase !important;
    padding: 6px !important;
}

.aAjhWb .iwJPpl {
    border-radius: 50px !important;
}

h1.OXQzmM {
    font-family: poppins-v2, sans-serif !important;
    color: #000 !important;
    font-weight: 500;
}

.UNhuLu .fEGEM_>.kGvnrc>.xfxJ27 {
    text-transform: uppercase !important;
    font-weight: 700 !important;
 }

div#comp-mi50drky ul li a div span {
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: poppins-v2,sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

#comp-mi50drky .style-mioi0u7i__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label {
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: poppins-v2,sans-serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

#comp-mi50drky .style-mi85t2qy__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label
 {
    text-transform: uppercase !important;
    color: #444 !important;
    font-family: playfair-display-v2, serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

#comp-mijdxlog .style-mijdz3qh__root .StylableHorizontalMenu3372578893__menuItem .itemDepth02233374943__label {
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: playfair-display-v2, serif !important;
    font-weight: 700 !important;
    letter-spacing: 2px !important;
}

a.snize-sticky-searchbox.snize-custom-widget-opener.top-right {
    display: none;
}

._SIYmI .gallery-item-container {
   border-radius: 30px !important !important;
}

.txtqbB, .syX60BH.oKCHbsX---priority-7-primary {
    padding: 15px 20px !important;
    border-radius: 50px !important;
    text-transform: uppercase;
}

.hnxUtZ:hover, .syX60BH:active.oKCHbsX---hoverStyle-9-underline, .syX60BH:hover.oKCHbsX---hoverStyle-9-underline {
    text-decoration: none !important;
    background-color: #8a191b !important;
    color: #fff !important;
}
